<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sail Test</title>
    <link type="text/css" rel="stylesheet" href="/dist/app-<GIT-REVISISION>.css" />
  </head>
  <body>
    <section id="react"></section>
    <script src="/dist/app-<GIT-REVISISION>.js"></script>
  </body>
</html>
